@import url('https://fonts.googleapis.com/css2?family=Inter&family=Michroma&family=Monoton&family=Poppins&family=Rubik&family=Secular+One&family=Ubuntu:wght@700&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
  font-family: Poppins;
  border-radius: 10px;
}
 
input.error {
  border: 1px solid var(--error);
}

form button {
  cursor: pointer;
}

.logoContainer h1 {
  color: #FFF;
  font-family: Michroma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.45px;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 25px;
}

.logoContainer a {
  text-decoration: none;
}

.logoContainer .dot {
  color: #00FF29;
  font-family: Michroma;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.9px;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.navbarcontainer {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarcontainer a {
  text-decoration: none;
}

.navbarcontainer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarcontainer .inner h1 {
  color: #FFF;
  font-family: Michroma;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.45px;
  margin-top: 0px;
  padding-top: 15px;
}

.navbarcontainer .aboutNav {
  margin: 0px;
  padding: 0px;
  padding-left: 5rem;
  padding-right: 4rem;
}

.homeContentContainer {
  padding: 0px;
  margin: 0px;
}

.content {
  color: #FFF;
  font-family: Ubuntu;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 64.516% */
  letter-spacing: 0.62px;
  padding: 4rem;
  padding-top: 5rem;
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: Ubuntu;
  font-size: 32px;
  font-weight: lighter;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2rem 3rem;
  margin-left: 4rem;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.aboutUsHeading {
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.aboutUsInfo {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  min-width: 500px;
  padding-left: 30px;
  display: flex;
  padding-top: 0px;
  margin-top: 0px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 30px;
}

.image {
  width: 230px;
  height: 230px;
  border-radius: 10.91px;
  border: 1px solid #DBB2B2;
}

.aboutUsContainer {
  display: flex;
  padding-top: 50px;
}

#team0 {
  border-color: #231C27;
}

#team1 {
  background-image: url('../src/img/user1.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#team2 {
  background-image: url('../src/img/user2.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#team3 {
  background-image: url('../src/img/user3.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUsContainer hr {
  padding: 0px;
  margin: 0px;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 700px;
}

.socialMediaImage {
  width: 50px;
  padding-left: 40px;
}

.contactUsHeading {
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 35px;
  padding-top: 50px;
}

#emailImage {
  display: flex;
  padding-top: 10px;
  padding-left: 40px;
}

#emailImage img {
  width: 30px;
}

#emailImage a {
  text-decoration: none;
  padding-top: 6px;
  padding-left: 15px;
  color: #FFF;
  font-family: Ubuntu;
}

#banner {
  background-image: url('../src/img/banner.png');
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin-top: 300px;
}

.introContainer {
  display: flex;
  margin-top: 20px;
}

.introContainer .introImageContainer {
  display: flex;
}

.introContainer .introInfo {
  display: flex;
}

.introContainer .introImageContainer .introdiv1 {
  width: 346px;
  height: 351px;
  border-radius: 20px;
  border: 4px solid yellow;
  background: url('../src/img/intro_Img1.png'), lightgray 50% / cover no-repeat;
  mix-blend-mode: color-dodge;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  margin-bottom: 10px;
}

.introContainer .introImageContainer .introdiv2 {
  width: 346px;
  height: 351px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 4px solid #000;
  background: url('../src/img/intro_Img2.png'), lightgray 3.613px -13.614px / 100% 131.434% no-repeat;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: lighten;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 8px;
}

.introContainer .introInfo .introdiv3 {
  width: 477px;
  height: 210px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 4px solid #FFBDBD;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Monoton;
  color: #FFF;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
  margin: 20px;
  margin-top: 0px;
  margin-right: 10px;
  padding-top: 20px;
}

.introContainer .introInfo .introdiv4 {
  width: 216px;
  height: 216px;
  border-radius: 20px;
  background: red;
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.introContainer .introSignUp {
  width: 451px;
  height: 596px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 4px solid #47B493;
  background: url('../src/img/intro_Image3.png'), lightgray 50% / cover no-repeat;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: soft-light;
  color: #B17E7E;
  font-family: Secular One;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-left: 100px;
  padding-left: 20px;
}

.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  max-height: 54px;
  outline: none;
  overflow: visible;
  padding: 10px 10px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
  margin-top: 1em;
  margin-left: 70em;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 10px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #B1AAAA 0, #675f5f 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: .24;
}

#svg1 {
  position: absolute;
  top: 7.8em;
  left: 15.8em;
  z-index: 1;
}

#svg2 {
  position: absolute;
  top: 7.5em;
  left: 15.4em;
  z-index: 2;
}

.loginUnderLay {
  position: absolute;
  width: 900px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 10.906px;
  border: 1.454px solid #000;
  background: #FFECB4;
  z-index: 1;
  left: 18.5em;
  top: 8.5em;
}

.logindiv {
  position: absolute;
  width: 900px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 10.906px;
  border: 1.454px solid #000;
  background: #E4E4E4;
  display: flex;
  z-index: 2;
  left: 20em;
  top: 10em;
}

.logindiv .loginForm {
  width: 420px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginHeading {
  color: #000;
  font-family: Michroma;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.loginCoverImage {
  width: 412px;
  height: 472px;
  flex-shrink: 0;
  background: url('../src/img/loginCover.png'), lightgray 50% / cover no-repeat;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  stroke-width: 1.454px;
  stroke: #000;
  border-radius: 10.906px;
  border: 1.454px solid #000;
  margin-left: 50px;
  margin-top: 12px;
}

.logindiv .loginCenter .loginEmail label {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
}

.logindiv .loginCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.logindiv .loginCenter .loginEmail input {
  border-radius: 10.906px;
  font-family: Poppins;
  border: 1.454px solid #000;
  width: 230.194px;
  height: 32px;
  margin-bottom: 40px;
}

.logindiv .loginCenter .loginPassword label {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
}

.logindiv .loginCenter .loginPassword input {
  border-radius: 10.906px;
  font-family: Poppins;
  border: 1.454px solid #000;
  width: 230.194px;
  height: 32px;
  margin-bottom: 40px;
}

.logindiv .loginButton button{
  width: 82px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 10.906px;
  border: 1.454px solid #000;
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.225px;
}

.signUpLayout {
  position: absolute;
  width: 870px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 10.906px;
  border: 1.454px solid #000;
  background: #E4E4E4;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  left: 20em;
  top: 10em;
}

.signUpHeading {
  color: #000;
  font-family: Michroma;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.signUpDiv {
  display: flex;
}

.signUpUnderLayDiv {
  position: absolute;
  width: 870px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 10.906px;
  border: 1.454px solid #000;
  background: #FFECB4;
  z-index: 1;
  left: 18.5em;
  top: 8.5em;
}

.signUpDiv .signUpColumn1,.signUpColumn2 label {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
}

.signUpDiv .signUpColumn1 input {
  border-radius: 10.906px;
  font-family: Poppins;
  border: 1.454px solid #000;
  width: 230.194px;
  height: 32px;
  margin-bottom: 20px;
}

.signUpDiv .signUpColumn2 input {
  border-radius: 10.906px;
  font-family: Poppins;
  border: 1.454px solid #000;
  width: 230.194px;
  height: 32px;
  margin-bottom: 20px;
}

.signUpButton {
  width: 92px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 10.906px;
  border: 1.454px solid #000;
  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.225px;
}

.signUpDiv .signUpColumn1  {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-left: 150px;
}

.signUpDiv .signUpColumn2  {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-left: 50px;
}

.profileLogoContainer {
  width: 51px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 200px;
  padding: 12.5px ;
}

.playlistContainer, .artistSongContainer {
  position:relative;
  width: 384px;
  height: 80px;
  display: flex;
  flex-shrink: 0;
  border-radius: 50px;
  background: #4C4454;
  margin-top: 20.75px;
  margin-bottom: 20.75px;
}

.playlistLogo, .artistSongLogo {
  position: absolute;
  display: flex;
  top: 5px;
  left: 5px;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #4C3C4C;
}

.playlistInfo, .artistSongInfo {
  position: relative;
  left: 91px;
  width: 200px;
}

.playlistName, .artistSongName {
  position: absolute;
  top: -32px;
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
}

.playlistSongsTime {
  position:relative;
  bottom: 2px;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  width: 100px;
}

.playlistHead, .profileHead{
  display: flex;
  position: relative;
  width: 300px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  color: #B200ED;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 400;
  margin: 20.75px;
  padding: 20.75px;
}

.profileDiv {
  display: flex;
}

.profileColumn1 {
  margin-left: 260px;
  margin-top: 50px;;
}

.profileColumn2 {
  margin-left: 260px;
  margin-top: 50px;;
}

.profileLogo {
  position: relative;
  display: flex;
  left: 63.5px;
  width: 256px;
  height: 256px;
  border-radius: 200px;
  background: #4C4454;
}

.profileInfoName {
  color: #FFF;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.noMatch {
  font-family: Poppins;
  color: yellow;
  font-size: 250px;
  font-weight: bold;
  text-align: center;
}

.searchDiv {
  position: relative;
  left: 455px;
  }

.searchLink {
  position:relative;
  top: 23px;
}

.playlistLink {
  text-decoration: none;
}

.uploadSongDiv {
  background-color: #382d3e;
  width: 250px;
  height: 250px;
}













/* styles.css */

/* Carousel Container */
.carousel-container {
  position: relative;
  width: 90%;
  height: 380px;
  margin: 0 auto;
  padding: 5%;
}

/* Carousel Slides */
.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.carousel div {
  width: 1000px;
  height: 500px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  font-family: Rubik;
  font-size: 60px; 
}

.infoDiv {
  margin-top: 250px;
  margin-left: 20px;
}

.exploreCarouselInfo {
  display: flex;
}

.exploreCarouselInfo img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.exploreCarouselInfo span {
  font-size: 35px;
}

#noOfList {
  color: white;
}

#monList {
  color: rgb(126, 126, 126);
}

/* Indicators */
.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 15px;
  height: 5px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.indicator.active {
  background-color: #007bff;
}

/*       style   */

.exploreLeftSideBar {
  height: 100%;
  width: auto;
  background-image: linear-gradient(to top left, #14081c, #272137);
  position: fixed;
}

.exploreLeftSideBar .exploreLogoContainer {
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 70px;
}

.exploreRightSideBar {
  width: 83%;
  height: 250vh;
  background-image: linear-gradient(to top left, #121538, #392f4a);
  align-items: center;
  position: absolute;
  left: 17.8%;
}

.exploreCarouselPageLayout {
  width: 83%;
  height: 200vh;
  background-image: linear-gradient(to top left, #121538, #392f4a);
  align-items: center;
  position: absolute;
  left: 17.8%;
}

.exploreCenter {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.exploreArtistName {
  color: yellow;
}

.exploreCenter .leftPanelComp {
  display: flex;
  color: #FFF;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  background-color: #383046;
  width: 200px;
  height: 55px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.exploreCenter .leftPanelComp:hover {
  color: orange;
}

.exploreCenter .leftPanelComp.selected {
  display: flex;
  color: yellow;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  background-color: #383046;
  width: 200px;
  height: 55px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.leftPanelComp img {
  width: 30px;
  padding-right: 15px;
  padding-left: 15px;
}

.leftPaneUserComp {
  display: flex;
  color: #FFF;
  text-align: center;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: #1c1f40;
  width: 100%;
  height: 65px;
  margin-top: 293px;
}

.userBox {
  width: 170px; /* Set your desired width */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.exploreUserProfile {
  width: 43px;
  height: 43px;
  border-radius: 10px;
  background-image: url('../src/img/sunboy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid yellow;
}

.topArtistHeading {
  color: #FFF;
  font-family: Michroma;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 64.516% */
  letter-spacing: 0.65px;
  margin-left: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.exploreArtistsDiv1 {
  display: flex;
  padding: 0px;
  margin: 0px;
  align-items: center;
  padding-left: 30px;
  padding-top: 210px;
}

.exploreArtistsDiv1 span {
  color: white;
  font-family: Rubik;
  font-size: 40px; 
  letter-spacing: 0.45px;
}

.exploreArtistsDiv1 img {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

.exploreArtistsDiv2 {
  display: flex;
  color: white;
  font-family: Poppins;
  letter-spacing: 0.45px;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
  padding-left: 30px;
}

.exploreArtistsDiv2 .exploreArtistsSpan1 {
  color: white;
}

.exploreArtistsDiv2 .exploreArtistsSpan2 {
  color: rgb(126, 126, 126);
}

.exploreArtistCard {
  box-shadow: 0px 0px 5px black;
  transition: box-shadow 0.3s ease;
}

.exploreArtistCard:hover {
  box-shadow: 0px 7px 12px black;
}

.exploreGenreDiv {
  width: 83%;
  height: 180vh;
  background-image: linear-gradient(to top left, #121538, #392f4a);
  position: absolute;
  left: 17.8%;
}

.exploreGenreHeading {
  color: #FFF;
  font-family: Michroma;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 64.516% */
  letter-spacing: 0.68px;
  margin-left: 50px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.exploreGenreInfoPic {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: 50px;
}

.exploreArtistCardDiv {
  box-shadow: 0px 0px 5px black;
  transition: box-shadow 0.3s ease;
}

.exploreArtistCardDiv:hover {
  box-shadow: 0px 7px 12px black;
}

.trendingSongsWrapper {
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
  margin-top: 20px;
  width: auto;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.trendingSongsWrapper .trendingSongsContainer {
  white-space: nowrap;
  display: inline-flex;
}

.trendingSongsWrapper .trendingSongsContainer .trendingSongsInnerDiv {
  margin-right: 10px;
  font-family: Poppins;
}

.trendingSongsWrapper .trendingSongsContainer .trendingSongsInnerDiv div {
  margin-bottom: 10px;
}

.trendingSongsWrapper .trendingSongsContainer .trendingSongsInnerDiv .nameSpan {
  color: white;
}

.trendingSongsWrapper .trendingSongsContainer .trendingSongsInnerDiv .artistSpan {
  color: rgb(126, 126, 126);
}


.trendingSongsHeading {
  color: #FFF;
  font-family: Michroma;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.68px;
  margin-left: 50px;
  margin-top: 60px;
}

.topPlaylistsHeading {
  color: #FFF;
  font-family: Michroma;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.68px;
  margin-left: 50px;
  margin-top: 80px;
}

.searchContainer {
  width: 83%;
  height: 100vh;
  background-image: linear-gradient(to top left, #121538, #392f4a);
  position: absolute;
  left: 17.6%;
}

.searchResultsWrapper {
  justify-content: center;
  flex-direction: column;
  text-align: left;
  color: white;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 72%;
  margin-left: 25%;
  &::-webkit-scrollbar {
    display: none;
  }
  border: 5px solid yellow;
  border-radius: 55px;
  width: 40%;
  padding: 20px;
}

.searchResultsContainer {
  white-space: nowrap;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.searchBar {
  background-color: white;
  color: rgb(126, 126, 126);
  width: 600px;
  font-family: Poppins;
  font-size: 25px;
  border: 2px solid yellow;
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  text-align: center;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.searchBarContainer img {
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

.searchBarContainer img:hover {
  mix-blend-mode: overlay;
}

.searchImg {
  width: 100px;
  height: 100px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-right: 10px;
}

.searchBox {
  display: flex;
  margin-bottom: 10px;
  font-family: Poppins;
  align-items: center;
}